@model TP_DDS.Models.Receta

@{
    ViewBag.Title = "Editar";
}

<h2>Recetas</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h3>Editar Receta</h3>
    <hr />
    @Html.ValidationSummary(true)

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Nombre, "Nombre", new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Nombre)
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Dificultad, "Dificultad", new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Dificultad, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Dificultad)
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.PiramideId, "PiramideId", new { @class = "control-label" })
                @Html.DropDownList("PiramideId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PiramideId)
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-2">
            <h4>Temporadas</h4>
            <table class="table">
                <tr style="background-color:aliceblue">
                    <th>Sel.</th>
                    <th>Temporada</th>
                </tr>

                @foreach (var item in (IEnumerable<TP_DDS.Models.Temporada>)ViewBag.Temporadas)
                {
                    <tr>
                        <td>
                            <input class="check-box" type="checkbox">
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="col-md-2">
            <h4>Clasificaciones</h4>
            <table class="table">
                <tr style="background-color:aliceblue">
                    <th>Sel.</th>
                    <th>Clasificacion</th>
                </tr>

                @foreach (var item in (IEnumerable<TP_DDS.Models.Clasificacion>)ViewBag.Clasificaciones)
                {
                    <tr>
                        <td>
                            <input class="check-box" type="checkbox">
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="col-md-2">
            <h4>Condimentos</h4>
            <table class="table">
                <tr style="background-color:aliceblue">
                    <th>Sel.</th>
                    <th>Condimento</th>
                </tr>

                @foreach (var item in (IEnumerable<TP_DDS.Models.Condimento>)ViewBag.Condimentos)
                {
                    <tr>
                        <td>
                            <input class="check-box" type="checkbox">
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="col-md-6">
            <h4>Ingredientes</h4>
            <table class="table">
                <tr style="background-color:aliceblue">
                    <th>Sel.</th>
                    <th>Ingrediente</th>
                    <th>Cantidad</th>
                    <th>Tipo</th>
                </tr>

                @foreach (var item in (IEnumerable<TP_DDS.Models.Ingrediente>)ViewBag.Ingredientes)
                {
                    <tr>
                        <td>
                            <input class="check-box" type="checkbox">
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            <input type="text" class="form-control" placeholder="Cantidad">
                        </td>
                        <td>
                            <input type="text" class="form-control" value="Primario">
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-8">
            <h4>Procedimiento</h4>
            <table class="table">
                <tr style="background-color:aliceblue">
                    <th>Numero</th>
                    <th>Pasos</th>
                </tr>

                @for (var i = 1; i < 6; i++)
                {
                    <tr>
                        <td>
                            @Html.Encode(i.ToString())
                        </td>
                        <td>
                            <textarea class="form-control" rows="2"></textarea>
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="col-md-4">
            <h4>Fotos</h4>
            <div class="col-lg-6 col-md-6 col-xs-6 thumb">
                <a class="thumbnail" style="margin-bottom: 20px;" href="#">

                    <img class="img-responsive" src="@Url.Content("~/Content/Images/recetaSinFoto.png")" alt="">
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col-md-10">
                <a class="btn btn-primary" href="javascript:window.history.back();">&laquo; Volver atrás</a>
                <button type="submit" value="Crear Grupo" class="btn btn-primary" disabled="disabled">Editar Receta</button>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
