@model IEnumerable<TP_DDS.Models.Receta>

@{
    ViewBag.Title = "Index";
}

<h2>Recetas de Usuarios</h2>

<p>
    @Html.ActionLink("Crear Nueva Receta", "Create")
</p>

<div class="row">
    <div class="col-md-12">

        <div style="height:5px"></div>

        <table class="table">
            <tr style="background-color:aliceblue">
                <th id="col_nombre">Nombre</th>
                <th id="col_dificultad">Dificultad</th>
                <th id="col_totcal">Tot. Cal.(Kg)</th>
                <th id="col_piramide">Grupo Piramide</th>
                <th id="col_creador">Creador</th>
                <th id="col_creador">Calificacion</th>
                <th id="col_acciones">Acciones</th>
            </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td id="col_nombre">
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td id="col_dificultad">
                            @Html.DisplayFor(modelItem => item.Dificultad.Nombre)
                        </td>
                        <td id="col_totcal">
                            @Html.DisplayFor(modelItem => item.TotalCalorias)
                        </td>
                        <td id="col_piramide">
                            @Html.DisplayFor(modelItem => item.Piramide.NombreGrupo)
                        </td>
                        <td id="col_creador">
                            @Html.DisplayFor(modelItem => item.Creador.Nombre)
                        </td>
                        <td id="col_piramide">
                            @Html.DisplayFor(modelItem => item.CalificacionPromedio)
                        </td>
                        <td id="col_acciones">
                            @Html.ActionLink("Detalles", "Details", new { id = item.Id })
                        </td>
                    </tr>
                }
        </table>
    </div>
</div>
