@model TP_DDS.ViewModels.RecetasByTempoCalif

@{
    ViewBag.Title = "Consulta Dos";
}

<h2>Entrega 5 - Consulta 2</h2>
<h4>Mostrar todas las Recetas para determinada Temporada y Calificación</h4>
<hr />

@using (Html.BeginForm("ConsultaDos", "Consultas", 
            new { ReturnUrl = ViewBag.ReturnUrl }, 
            FormMethod.Get, new { role = "form" }))
{
    <h5>Filtros</h5>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.DropDownListFor(model => model.TemporadaId, 
                    (SelectList)ViewBag.Temporadas, "-- Seleccione una Temporada --", 
                    new { @class = "form-control" })
                @if (!string.IsNullOrEmpty((string)ViewBag.MsjErrorTemp))
                {
                    <span class="text-danger">
                        @Html.Encode((string)ViewBag.MsjErrorTemp)
                    </span>
                }
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.DropDownListFor(model => model.CalificacionId, 
                    (SelectList)ViewBag.Calificaciones, "-- Seleccione una Calificacion --", 
                    new { @class = "form-control" })
                @if (!string.IsNullOrEmpty((string)ViewBag.MsjErrorCalif))
                {
                    <span class="text-danger">
                        @Html.Encode((string)ViewBag.MsjErrorCalif)
                    </span>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <input type="submit" value="Buscar" class="btn btn-info" />
        </div>
    </div>

}

<div class="row">
    <div class="col-md-10">

        <div style="height:5px"></div>

        <table class="table">
            <tr>
                <th id="col_nombre">Nombre</th>
                <th id="col_dificultad">Dificultad</th>
                <th id="col_totcal">Tot. Cal.(Kg)</th>
                <th id="col_piramide">Grupo Piramide</th>
                <th id="col_creador">Creador</th>
                <th id="col_acciones">Acciones</th>
            </tr>
            @if (Model.Results != null)
            {
                foreach (var item in Model.Results)
                {
                    <tr>
                        <td id="col_nombre">
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td id="col_dificultad">
                            @Html.DisplayFor(modelItem => item.Dificultad)
                        </td>
                        <td id="col_totcal">
                            @Html.DisplayFor(modelItem => item.TotalCalorias)
                        </td>
                        <td id="col_piramide">
                            @Html.DisplayFor(modelItem => item.SectorPiramide)
                        </td>
                        <td id="col_creador">
                            @Html.DisplayFor(modelItem => item.Creador)
                        </td>
                        <td id="col_acciones">
                            @Html.ActionLink("Detalle", "Details", "Recetas",
                                                new { id = item.Id }, null)
                        </td>

                    </tr>
                }
            }
        </table>
    </div>
</div>