@model TP_DDS.Models.Usuario

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Usuario</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pass, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Pass)
                @Html.ValidationMessageFor(model => model.Pass)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre)
                @Html.ValidationMessageFor(model => model.Nombre)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sexo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Sexo)
                @Html.ValidationMessageFor(model => model.Sexo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaNacimiento, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaNacimiento)
                @Html.ValidationMessageFor(model => model.FechaNacimiento)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaAltaPerfil, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaAltaPerfil)
                @Html.ValidationMessageFor(model => model.FechaAltaPerfil)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Altura, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Altura)
                @Html.ValidationMessageFor(model => model.Altura)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Rutina, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Rutina)
                @Html.ValidationMessageFor(model => model.Rutina)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CondicionPreexistenteId, "CondicionPreexistenteId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CondicionPreexistenteId", String.Empty)
                @Html.ValidationMessageFor(model => model.CondicionPreexistenteId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ComplexionId, "ComplexionId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ComplexionId", String.Empty)
                @Html.ValidationMessageFor(model => model.ComplexionId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DietaId, "DietaId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DietaId", String.Empty)
                @Html.ValidationMessageFor(model => model.DietaId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
